<!DOCTYPE html>
<html>
  <head>
    <title>Sample Test Form</title>
  </head>
  <body>
    <h2>Send the mail via client1</h2>
    <form method="POST" action="/submitemail-client1">
      <div>
        <input type="text" name="name" placeholder="Name">
      </div>
      <div>
        <textarea name="Mailid" placeholder="Mailid"></textarea>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
  <body>
    <h2>Send the mail via client2</h2>
    <form method="POST" action="/submitemail-client2">
      <div>
        <input type="text" name="name" placeholder="Name">
      </div>
      <div>
        <textarea name="Mailid" placeholder="Mailid"></textarea>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
  <body>
    <h2>Send the mail via app</h2>
    <form method="POST" action="/submit-app">
      <div>
        <input type="text" name="name" placeholder="Name">
      </div>
      <div>
        <textarea name="Mailid" placeholder="Mailid"></textarea>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
